.no-websites {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.thumbnail {
  position: relative;
  border-bottom-width: 3px;
}
.thumbnail .image {
  position: relative;
  background-color: white;
}
.thumbnail.campaign-active {
  border-bottom-color: #0b0;
}
.thumbnail.campaign-paused {
  border-bottom-color: #dd0;
}
.thumbnail .image img {
  border: #eee 1px solid;
}
.thumbnail .image .website-views {
  position: absolute;
  padding: 5px;
  top: 1px;
  right: 1px;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
}
.thumbnail .image .inactive {
  position: absolute;
  padding: 2px;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 13px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.thumbnail .image .label {
  position: absolute;
  width: 100%;
  top: 45%;
  color: black;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
.thumbnail .caption h4 {
    width: 100%;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}
.thumbnail .url a {
  line-height: 14px;
}
.thumbnail .url img {
  width: 14px;
  height: 14px;
}
.thumbnail .action {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.thumbnail .btn-xs {
  margin-left: 5px;
}
.thumbnail.no-image .caption h4,
.thumbnail.no-image .caption .url {
  color: #ddd;
}
.thumbnail.no-image .image .label {
  color: #ccc;
}
.thumbnail .caption .owner {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.thumbnail .caption .owner img {
  width: 20px;
  height: 20px;
}

/* special classes for superuser */
.superuser .btn-add-website {
  display: none;
}
.superuser .thumbnail .caption .owner {
  display: inline;
}